{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ author.first_name }}  {{author.last_name}}</h1>

  <p><strong>Date of Birth:</strong> {{ author.date_of_birth }}</p>
  <p><strong>Date of death:</strong> {{ author.date_of_death }}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in author.book_set.all %}  <!-- Related objects reference -->
      <hr>
      <p >
        {{ copy.title }}
      </p>
    {% endfor %}
  </div>
{% endblock %}